[submodule "maia-arff"]
	path = maia-arff
	url = https://github.com/waikato-maia/maia-arff.git
	branch = main
[submodule "maia-build"]
	path = maia-build
	url = https://github.com/waikato-maia/maia-build.git
	branch = main
[submodule "maia-build-moa"]
	path = maia-build-moa
	url = https://github.com/waikato-maia/maia-build-moa.git
	branch = main
[submodule "maia-configure"]
	path = maia-configure
	url = https://github.com/waikato-maia/maia-configure.git
	branch = main
[submodule "maia-dataset"]
	path = maia-dataset
	url = https://github.com/waikato-maia/maia-dataset.git
	branch = main
[submodule "maia-json-configuration"]
	path = maia-json-configuration
	url = https://github.com/waikato-maia/maia-json-configuration.git
	branch = main
[submodule "maia-learner"]
	path = maia-learner
	url = https://github.com/waikato-maia/maia-learner.git
	branch = main
[submodule "maia-learner-factory"]
	path = maia-learner-factory
	url = https://github.com/waikato-maia/maia-learner-factory.git
	branch = main
[submodule "maia-moa-dataset-nodes"]
	path = maia-moa-dataset-nodes
	url = https://github.com/waikato-maia/maia-moa-dataset-nodes.git
	branch = main
[submodule "maia-moa-datasets"]
	path = maia-moa-datasets
	url = https://github.com/waikato-maia/maia-moa-datasets.git
	branch = main
[submodule "maia-moa-learners"]
	path = maia-moa-learners
	url = https://github.com/waikato-maia/maia-moa-learners.git
	branch = main
[submodule "maia-primitive"]
	path = maia-primitive
	url = https://github.com/waikato-maia/maia-primitive.git
	branch = main
[submodule "maia-standard-dataset-nodes"]
	path = maia-standard-dataset-nodes
	url = https://github.com/waikato-maia/maia-standard-dataset-nodes.git
	branch = main
[submodule "maia-standard-datasets"]
	path = maia-standard-datasets
	url = https://github.com/waikato-maia/maia-standard-datasets.git
	branch = main
[submodule "maia-standard-learner-nodes"]
	path = maia-standard-learner-nodes
	url = https://github.com/waikato-maia/maia-standard-learner-nodes.git
	branch = main
[submodule "maia-standard-learners"]
	path = maia-standard-learners
	url = https://github.com/waikato-maia/maia-standard-learners.git
	branch = main
[submodule "maia-standard-nodes"]
	path = maia-standard-nodes
	url = https://github.com/waikato-maia/maia-standard-nodes.git
	branch = main
[submodule "maia-standard-types"]
	path = maia-standard-types
	url = https://github.com/waikato-maia/maia-standard-types.git
	branch = main
[submodule "maia-topology"]
	path = maia-topology
	url = https://github.com/waikato-maia/maia-topology.git
	branch = main
[submodule "maia-topology-json"]
	path = maia-topology-json
	url = https://github.com/waikato-maia/maia-topology-json.git
	branch = main
[submodule "maia-util"]
	path = maia-util
	url = https://github.com/waikato-maia/maia-util.git
	branch = main
[submodule "maia-evaluations"]
	path = maia-evaluations
	url = https://github.com/waikato-maia/maia-evaluations.git
	branch = main
